<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="../lib/vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div v-if="show === 'a'">a</div>
    <div v-else-if="show === 'b'">b</div>
    <div v-else>bye world</div>
    <div v-show="show">{{message}}</div>
    <div v-if="key">
      用户名<input type="text" key="username">
    </div>
    <div v-else>
      密码<input type="password" key="password">
    </div>
  </div>
  <script>
    var vm = new Vue({
      el: "#app",
      data: {
        show: "a",
        key: true,
        message: "hello world"
      }
    })
  </script>
</body>
</html>